body {
  min-height: 400vh;
  margin: 0;
  color: gold;
  --nav-height: 50px;
  
  padding-top: var(--nav-height);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
li {
  list-style: none;
}
nav {
  display: grid;
  grid-template-columns: 40% 60%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: rgb(26, 26, 26);
  transition: 0.3s;
  height: var(--nav-height);
}

.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
  box-shadow: none;
}
h2,
ul {
  margin: 0;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background: url(./bg.jpg) center/cover;
  height: 100vh;
}
